.wrapper {
  display: grid;
  grid-template-rows: 1fr;

  & > div {
    grid-area: 1 / 1;
  }

  & div:nth-child(2) {
    z-index: 9;
    align-self: center;
    justify-self: center;
    text-align: center;

    h3 {
      color: white;
      font-size: 30px;
      padding: 20px;
      line-height: 1.2;
    }
  }
}
.carousel {
  width: 100%;
  overflow: hidden;
  // padding: 20px 0;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.cards {
  display: flex;
  // gap: 16px;
  padding: 0 20px;
}

.card {
  flex-shrink: 0;
  // width: clamp(200px, 30vh, 400px);
  width: 400px;
  // transition: transform 0.2s ease;
  background: black;

  img {
    width: 100%;
    aspect-ratio: 0.7/1;
    // border-radius: 16px;
    object-fit: cover;
    // border: solid 2px rgb(223, 223, 223);
    // box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
    pointer-events: none;
    opacity: 0.35;
    height: 100%;
  }

  // &:hover {
  //   transform: scale(1.05);
  // }
}
