.form {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  input,
  textarea {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}

.button {
  color: white;
}

.section {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  min-height: 400px;
}
