// a {
//   font-weight: 500;
//   color: rgb(225, 81, 43);
//   text-decoration: inherit;
// }
// a:hover {
//   color: hwb(237 33% 5%);
// }

// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: rgb(225, 81, 43);
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }

@font-face {
  font-family: "Oswald";
  src: local("Oswald-Bold"),
    url("/src/assets/fonts/Oswald/static/Oswald-Bold.ttf");
}
body {
  font-family: "Inter", sans-serif;
  background: #d9d9d9;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: #1e1e1e;
}

.section {
  padding: 25px 0;
}

.alert {
  background-color: #ffa68f;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 0.8rem;
}

// .hero {
//   display: flex;
//   padding: 0 1.5rem;
//   min-height: 70vh;
//   left: 0px;
//   top: 0px;
//   position: relative;
//   color: rgb(217, 217, 217);
//   overflow: hidden;
//   padding-top: 80px;
//   background: #070000;

//   @media screen and (min-width: 600px) {
//     padding: 0 3rem;
//   }
// }

// .hero-container {
//   margin: 0;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;
//   width: 100%;

//   @media screen and (min-width: 600px) {
//     margin: 0 auto;
//     max-width: 1600px;
//     width: 100%;
//     padding-top: 100px;
//     padding-bottom: 300px;
//   }
// }

.hidden-sm {
  display: none;

  @media screen and (min-width: 600px) {
    display: initial;
  }
}

.hero::after {
  content: "";
  z-index: -2;
  position: absolute;
  width: 150%;
  height: 150%;
  transform: translate(5%, 5%);
  top: -10%;
  left: -10%;
  background: #070000 100%;
}

.highlight {
  color: rgb(255, 204, 143);
}

.small {
  font-size: 11px;
}

.hero-text p {
  margin: 0;
}

.hero-image {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: -35%;
  height: 75%;
  z-index: 20;

  @media screen and (min-width: 600px) {
    right: -5%;
    height: 95%;
    z-index: 90;
    width: auto;
  }
}

.hero-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
html {
  scroll-padding-top: 7rem;
}

.container {
  padding: 2rem;

  @media screen and (min-width: 600px) {
    padding: 3rem;
    padding-bottom: 0;
    max-width: 1600px;
    margin: 0 auto;
    display: block;
  }
}

.nav {
  --_bg: rgba(255, 255, 255, 0.05);

  position: fixed;
  color: white;
  font-weight: bold;
  background: var(--_bg);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 51;
  right: -1px;
  left: -1px;
  top: -1px;
  transition: background-color 1s;

  &.sticking {
    --_bg: rgba(24, 23, 23, 0.735);
  }
}

.nav-container {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0.8rem 1.5rem;
}

.logo {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-shadow: #1e1e1e73 1px 1px 0px;
  text-shadow: #232222f5 1px 2px 4px;
  font-size: 18px;
  color: #dfdfdfeb;
}
.logo span {
  font-size: 10px;
  font-weight: 200;
  color: #ffcc8f;
  display: block;
}
.icon {
  width: 30px;
}

.btn {
  text-align: center;
  padding: 8px 15px;
  text-decoration: none;
  display: inline-block;
  color: white;
  border: 2px solid #ffcc8f;
  border-radius: 10px;
  transition: all 0.5s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(212, 175, 55, 0.4);
  background: rgba(212, 175, 55, 0.1);
}

.content {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    width: 50%;
    gap: 15px;
  }
}

.what {
  display: flex;
  gap: 5px;
  align-items: center;
}

.what svg {
  width: 30px;
  height: 30px;
}

.set {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  font-weight: 300;
  opacity: 0.5;
  color: #d9d9d9;
}
