:root {
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(276, 100%, 97.1%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);
}

.faq__title {
  display: flex;
  gap: 2rem;
  font-size: 25px;
}
.faq__title h1 {
  font-size: 4rem;
  font-weight: 700;
  margin: 15px 0;
}
.faq__content .faq__dropdown:not(:last-child) {
  border-bottom: solid 1px rgba(77, 74, 74, 0.304);
}
.faq__icon img {
  min-width: 30px;
}
.minus-icon {
  display: none;
}
.faq__body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 200ms ease;
}
.faq__body p {
  padding: 0.5rem;
}
.faq__btn {
  width: 100%;
  background: none;
  text-align: left;
  padding-left: 0;
  color: #be4f26;
}
@media (max-width: 540px) {
  .faq__title h1 {
    font-size: 2.5rem;
  }
  button {
    font-size: 1rem;
  }
  .faq__title img {
    width: 30px;
  }
}
